/*!  color palette
--text: #f4f1f3;
--background: #1a1418;
--primary-button: #86729d; d- #3A3243
--secondary-button: #fdf7fb;
--accent: #daa520; */


body {
    background-color: #1a1418;

    /* background: rgb(99, 69, 99); 
    background: radial-gradient(circle, rgba(99, 69, 99, 1) 28%, rgba(88, 62, 88, 1) 60%, rgba(74, 52, 73, 1) 83%, rgba(61, 44, 60, 1) 95%);    */
    margin: 0;
}

/*# indexCss */
.navBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navBox h1 {
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    color: #e1e1e1;
    transition: all 0.3s ease;
    font-size: 20px;
    letter-spacing: 1.5px;
    margin: 0px;
}

.navBar a:visited {
    color: #e1e1e1;
}

.navBar a:hover {
    color: #daa520;
    background-color: #3A3243;
}

.navBar a:first-child {
    border-left: none;
    border-radius: 0px 0px 8px 0px;
}

.navBar a:last-child {
    border-right: none;
    border-radius: 0px 0px 0px 8px;
}

.navBar a:link {
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    color: #e1e1e1;
    transition: all 0.3s ease;
    font-size: 20px;
    letter-spacing: 1.5px;
}


.navBox {
    background-color: transparent;
    list-style-position: inside;
    list-style: none;
    padding: 10px;
    border-radius: 0px 0px 8px 8px;
    margin: 0px;
    flex: 1;

    /*  border-width: 0px 3px 3px 3px;
    border-style: solid;
    border-color: #3A3243; */
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.userMenu {
    position: absolute;
    display: inline-block;
    margin: 15px 0px 0px 30px;
    background-color: transparent;
    border-radius: 2px;
}

.userMenu img:hover {
    background-color: rgb(58, 50, 67, .8);
    border-radius: 8px;
    transition: all 0.3s ease;
}

.adsTextBox {
    display: flex;
    justify-content: center;
    align-items: center;

}

.adsTextBox p {
    background-color: rgb(218, 165, 32, .6);
    color: #1a1418;
    border-radius: 5px;
    padding: 12px;
    font-family: 'Manrope', sans-serif;
}

.adsTextBox p:hover {
    background-color: rgb(218, 165, 32, .8);
    color: #1a1418;
    border-radius: 5px;
    transition: all 0.3s ease;
}


.imgBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    flex: 1;
    flex-wrap: wrap;
}

.adsImg {
    margin: 0px 20px 0px 20px;
    transition: all 0.3s ease;
}

.adsScroll {
    height: 500px;
    width: 1665px;
    margin: 50px 80px 120px 80px;
}

.footerBox {
    background-color: #3A3243;
    width: 100%;
    height: 250px;
    border-radius: 15px 15px 0px 0px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.icon {
    width: 48px;
    height: 48px;
}

.icon button:hover {
    background-color: #1a1418;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.footerText {
    color: #e1e1e1;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1.5px;
}

/*# Catalogo */

.gridBox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.catalogoBox {
    list-style-type: none;
    background-color: #3A3243;
    border-radius: 15px;
    border-color: #1a1418;
    border-style: solid;
    border-width: 3px;
    color: #e1e1e1;
    text-align: center;
    padding: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    margin: 12px;
}

.gridLeft {
    grid-column: 2 / 6;
}

.gridRight {
    grid-column: 8 / 12;
}

/*# NosotrosCss */