.navBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navBox h1 {
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  @include textFormat;
  font-weight: 500;
  color: #e1e1e1;
  transition: all 0.3s ease;
  font-size: 20px;
  letter-spacing: 1.5px;
  margin: 0px;
}

.navBar a:visited {
  color: #e1e1e1;
}

.navBar a:hover {
  color: #daa520;
  background-color: #3a3243;
}

.navBar a:first-child {
  border-left: none;
  border-radius: 0px 0px 8px 0px;
}

.navBar a:last-child {
  border-right: none;
  border-radius: 0px 0px 0px 8px;
}

.navBar a:link {
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  color: #e1e1e1;
  transition: all 0.3s ease;
  font-size: 20px;
  letter-spacing: 1.5px;
}

.navBox {
  background-color: transparent;
  list-style-position: inside;
  list-style: none;
  padding: 10px;
  border-radius: 0px 0px 8px 8px;
  margin: 0px;
  flex: 1;
}

@media screen and (max-width: 768px) {
  .navBar {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: #3a3243;
    border-radius: 8px 8px 0px 0px;
  }

  .navHide {
    display: none;
  }
  .navBox {
    border-radius: 8px 8px 0px 0px;
    transition: all 0.3s ease;
  }
  .navBox h1 {
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    @include textFormat;
    font-weight: 500;
    color: #e1e1e1;
    transition: all 0.3s ease;
    letter-spacing: 1.5px;
    margin: 0px;
    font-size: 0px;
  }

  .navBar a:visited {
    color: #e1e1e1;
  }

  .navBar a:first-child {
    border-left: none;
    border-radius: 8px 8px 0px 0px;
  }

  .navBar a:last-child {
    border-right: none;
    border-radius: 8px 8px 0px 0px;
  }

  .navBar a:link {
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    color: #e1e1e1;
    transition: all 0.3s ease;
    font-size: 10px;
    letter-spacing: 1.5px;
  }
}
