.navBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  a {
    &:visited {
      color: #e1e1e1;
    }
    &:hover {
      color: #daa520;
      background-color: #3a3243;
    }
    &:first-child {
      border-left: none;
      border-radius: 0px 0px 8px 0px;
    }
    &:last-child {
      border-right: none;
      border-radius: 0px 0px 0px 8px;
    }
    &:link {
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      font-family: "Manrope", sans-serif;
      font-weight: 500;
      color: #e1e1e1;
      transition: all 0.3s ease;
      font-size: 20px;
      letter-spacing: 1.5px;
    }
  }
  .navBox {
    background-color: transparent;
    list-style-position: inside;
    list-style: none;
    padding: 10px;
    border-radius: 0px 0px 8px 8px;
    margin: 0px;
    flex: 1;
  }
}

@media screen and (max-width: 768px) {
  .navBar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #3a3243;
    border-radius: 8px 8px 0px 0px;
    a {
      &:link {
        font-size: 10px;
      }
    }
    .navBox {
      border-radius: 8px 8px 0px 0px;
      transition: all 0.3s ease;
      .navHide {
        display: none;
      }
    }
  }
}
