.imgBox {
  margin-top: 3rem;
  row-gap: 1rem;
}

.imgSize {
  width: 700px;
  height: auto;
  margin-left: 2%;
  margin-right: 2%;
}

@media (max-width: 767px) {
  .col-lg-6 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .col-lg-6 img {
    width: 100%;
    height: auto;
  }

  .imgSize {
    width: 900px;
    height: 562px;
  }
}

.carouselImg {
  padding-left: 15%;
  padding-right: 15%;
  gap: 1rem;
  margin-top: 1rem;
}
@media screen and (max-width: 768px) {
  .carouselImg {
    padding-left: 5%;
    padding-right: 5%;
  }
}
